<h2> {{header}} </h2>

<ng-container *ngIf="!editMode">
  <div [hidden]="!barcodeValue">
    {{ message }} + {{barcodeValue}}
  </div>
  <button (click)="findBook()">Search</button>
</ng-container>

<ng-container>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Author</mat-label>
      <input matInput [(ngModel)]="author"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Publisher</mat-label>
      <input matInput [(ngModel)]="publisher"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Location</mat-label>
      <input matInput [(ngModel)]="location"/>
    </mat-form-field>
  </div>
  <button (click)="saveBook()">Save</button>
</ng-container>
<barcode-scanner-livestream
    type="ean"
    (valueChanges)="onValueChanges($event)"
    (started)="(onStarted)"
></barcode-scanner-livestream>