<h2> {{header}} </h2>
<ng-container *ngIf="!editMode">
  <mat-form-field class="form-field">
    <mat-label>Search by ISBN</mat-label>
    <input matInput maxlength="13" type="text" digitOnly [(ngModel)]="isbn"/>
  </mat-form-field>
  <button (click)="findBook()">Search</button>
</ng-container>

<ng-container>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Author</mat-label>
      <input matInput [(ngModel)]="author"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Publisher</mat-label>
      <input matInput [(ngModel)]="publisher"/>
    </mat-form-field>
  </div>
  <button (click)="saveBook()">Save</button>
</ng-container>
